body {
	background-image: url("https://images.pexels.com/photos/552789/pexels-photo-552789.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color: black;
}

footer {
	text-align: center;
	font-family: Consolas;
	font-weight: bold;
}

.weather-body {
	border: 4px rgba(142, 50, 0, 0.3);
	max-width: 650px;
	margin: 80px auto;
	padding: 30px 40px;
	border-radius: 20px;
	box-shadow: 0px 0px 41px 5px rgba(0, 0, 0, 0.4);
	font-family: "Oxygen Mono", monospace;
	background: radial-gradient(
		rgb(213, 167, 201, 0.85) 0%,
		rgb(170, 131, 172, 0.85) 100%
	);
}

#date-line {
	font-family: "Gloria Hallelujah", cursive;
	text-align: center;
}

.current-city {
	font-size: 20px;
	text-align: center;
	font-family: "Gloria Hallelujah", cursive;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	color: whitesmoke;
}

.cities {
	font-size: 20px;
	text-align: center;
}
